.gradle/
build/
*/build/
local.properties
*.log
.idea/
*.iml
*.hprof
*.iws
*.ipr
*.jks
*.keystore
.externalNativeBuild
obj/
*.so
captures/
output.json
*.apk
*.ap_
*.aab
proguard/
google-services.json
crashlytics-build.properties
.DS_Store
Thumbs.db
*.kotlin_module
*.orig
*.class
*.jar
*.war
*.ear
*.kt
*.kts
